{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 style="padding-left: 10px;">{{ header }}</h1>

    {% if request.user.is_authenticated %}
        <div class="new-post">
            <h2>New Post</h2>
            <form method="POST" action="{% url 'new_post' %}">
                {% csrf_token %}
                <textarea name="content" cols="30" rows="3"></textarea>
                <button type="submit">Post</button>
            </form>
        </div>
    {% endif %}

    {% include 'network/_post.html'%}
{% endblock %}

{% block script %}
    <script src="{% static 'network/js.js' %}"></script>        
{% endblock %}
        
        

