{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1 style="padding-left: 10px;">{{ viewed_user.username }}</h1>

    <div style="padding-left: 20px;" class="profile-info">
        <p>Followers: {{ num_followers }}</p>
        <p>Following: {{ num_following }}</p>
    </div>

    {% if request.user.is_authenticated and request.user != viewed_user %}
        <form id="follow-form" style="padding-left: 20px;" data-viewed-user-username="{{ viewed_user.username }}">
            {% csrf_token %}
            <button type="submit" id="follow-btn">
                {% if request.user in viewed_user.followers.all %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </button>
        </form>
    {% endif %}

    {% include 'network/_post.html'%}
{% endblock %}

{% block script %}
    <script src="{% static 'network/js.js' %}"></script>        
{% endblock %}
