# Byte-compiled / optimized / DLL files
network/__pycache__/
*.py[cod]
*$py.class

# Local development settings
local_settings.py

# SQLite database file
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# Virtual environment
venv/

# IDE settings
.idea/
.vscode/