.new-post {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 12px;
    padding: 15px;
    margin: 20px 10px 20px 10px;
    padding-bottom: 5px;
    
}

.new-post h2 {
    margin-top: 0;
}

.new-post textarea {
    width: 100%;
    border: 1px solid #dddfe2;
    border-radius: 12px;
    resize: none;
    overflow: hidden;
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.new-post button[type="submit"] {
    background-color: #1da1f2;
    border: none;
    color: #fff;
    padding: 7px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-bottom: 1px;
}

.new-post button[type="submit"]:hover {
    background-color: #0c85d0;
}

.post-container {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 12px;
    padding: 15px;
    margin: 20px 10px 20px 10px;
    padding-bottom: 5px;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-username {
    margin-right: 10px;
    font-weight: bold;
}

.post-timestamp {
    font-size: 12px;
    color: gray;
}

.post-content {
    margin-top: 10px;
}

.post-likes {
    margin-top: 10px;
    color: gray;
}

.post-link {
    color: blue;
    font-size: 12px;
}

.liked [id^="heart-icon-"] path {
    fill: red;
}